<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SheKnows{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">SheKnows</div>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/schemes">Government Schemes</a></li>
            <li><a href="/mental-health">Mental Health</a></li>
            <li><a href="/financial-literacy">Financial</a></li>
            <li><a href="/login">Login</a></li>
            

        
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 SheKnows. Empowering Women, Changing Lives.</p>
    </footer>
</body>
</html>
